body{
  font-style: "Montserrat-Black";
}
#title{
  background-color: #30e3ca;
  color: #fff;
}
h1{
    font-style: "Montserrat-Black";
    font-size: 3rem;
    line-height: 1.5;
}
h3
{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;;

}
h2{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;

}
p{
  color: #8f8f8f;
}
.ico{
  height: 75px;
  width: 75px;
}
.container-fluid
{
  padding:3% 15%;
}
h1
{
  font-style: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;

  font-weight: bold;
}
  .nav-link{
    font-size: 1.2rem;
  }
  .download-button{
    margin:  5% 3% 5% 0;
  }
  .title-image{
    height : 450px;
    width: auto;
    transform: rotate(25deg);

  }

.nav-item{
  padding: 0 18px;
}
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
#testimonials{

  text-align: center;
  background-color: #30e3ca;
  color: #fff;
}
.testimonia-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 7% 15%;
}
#press{
  background-color: #30e3ca;
  text-align: center;
  padding-bottom: 3%;

}

#pricing{
  padding: 100px;
  text-align: center;

}
@media (max-width :1028px) {
  #title{
    text-align: center;
  }
  .tile-image{
    position: static;
    transform: rotate(0);

}
}
#cta{
  color: #000;


  text-align: center;
  font-style: "Montserrat-Bold";
  padding: 7% 15%;


}
.download{
  margin:  5% 3% 5% 0;
}
#footer{
  background-color: #30e3ca;
  padding: 7% 15%;
  text-align: center;
}
